{% extends 'base.html' %}

{% block content %}


<form method="POST" action="{% url 'signup' %}">

  <div class="card person-card mx-auto col-md-4 ">
    <!--gender image-->
    <img id="img_sex" class="person-img"
    src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg"/>
    <h2 class="card-title">Signup for Product Hunt</h2>
    {% csrf_token %}
    <!-- first row (on medium screen)-->
    <div class="row">
      <div class="form-group col-md-10 mx-auto" style="">
        <label class="col-form-label">Username :</label>
        <input type="text" name="username" class="form-control" placeholder="Username" >
        <label class="col-form-label">Password :</label>
        <input type="password" name="password1" class="form-control" placeholder="Please Type Your Password"  >
        <label class="col-form-label">Confirm Password :</label>
        <input type="password" name="password2" class="form-control" placeholder="Confirm Your Password" >
        <br />
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign up!" />
          {% if error %}
          <br />
          <p class="alert alert-light" style="text-align:center;">{{ error }}</p>
          <br />
          {% endif  %}
      </div>
    </div>
  </div>
</form>
{% endblock %}
